.background{text-align: center;}
.welcome2{text-align: center;text-shadow: 2px 2px 2px #000000; font-weight: bold; background-color: peru; color: white;}
.brief{font-weight: bold; font-family: 'Courier New', Courier, monospace;}
.mode{text-decoration: underline; font-style: italic;}
.linkfifa{text-decoration: none; text-align: justify;}
.mail{background-color: white; color: #000000; text-decoration: black;}